:root {
  --max-width: 1240px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono',
    'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono',
    'Courier New', monospace;
  --color-1: rgb(184, 184, 184);
  --bg-color-1: rgb(238, 244, 250);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
button {
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}
